#div1{
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: aquamarine;
    text-align: center;
    height: 70px;
    width: 100%;
}
.imgleft{
    position: relative;
}
#img_center{
    position: absolute;
    top: 250px;
    left: 500px;
    border-radius: 12px;
}
#left1{
    position: absolute;
    top: 80px;
    left: 20px;

}
#left2{
    position: absolute;
    top: 350px;
    left: 20px;
}
.imgright{
    width: 300px;
    height: 200px;
    position: relative;
    left: 74rem;
}

#right1{

    position: absolute;
    top: 80px;
}
#right2{
    position: absolute;
    top: 340px;
}

.bottomleft{
    position: relative;
    left: 20px;
}
#botleft1{
    position: absolute;
    top: 600px;

}
#botleft2{
   position: absolute;
   top: 820px;
}
.bottomright{
    float: right;


}
#botright1{
    position: absolute;
    right: 30px;
    top: 600px;
}
#botright2{
    position: absolute;
    right: 30px;
    top: 800px;

}